services:
  gml-lab:
    build:
      context: ..
      dockerfile: docker/Dockerfile

    environment:
      - TORCH_HOME=/gml-lab/.torch
    volumes:
      - ../:/gml-lab
      - root-home:/root
      - ../.torch:/gml-lab/.torch

    privileged: true

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    shm_size: "8gb"
    command: sleep infinity
    network_mode: host

volumes:
  root-home:
